<h3>Name: <%= @user.name %></h3>

<p>Restaurants To Try: </p>
<% @sortable.each do |try| %>
<% if try.been_there == false %>

<a class="nolist" href="/restaurants/<%=try.restaurant.id%>"><%= try.restaurant.name %></a>
  <form class="nolist" action="/users/restaurants" method="post">
  <input type="hidden" value="<%=@user.id%>" name="rest[user_id]">
  <input type="hidden" value="<%=try.restaurant.id%>" name="rest[restaurant_id]">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="I don't wanna go anymore">
  </form>
 <form class="nolist" action="/users/beenthere" method="post">
  <input type="hidden" value="<%=@user.id%>" name="rest[user_id]">
  <input type="hidden" value="<%=try.restaurant.id%>" name="rest[restaurant_id]">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input id="hidden" type="hidden" name="also[been_there]" value="true">
  <input type="submit" value="I tried it!">
</form>
<% end %>
<% end %>

<p>I've Tried: </p>

<% @sortable.each do |try| %>
<% if try.been_there == true %>
<a href="/restaurants/<%=try.restaurant.id%>"><%= try.restaurant.name %></a>
<% end %>
<% end %>

<p>Favorite Restaurants:</p>
<% @faveable.each do |restaurant| %>
<a class="nolist" href="/restaurants/<%=restaurant.id%>"><%= restaurant.name %></a>
  </form>

<% end %>

<p>Add To Favorite Restaurants: </p>

<form action="/users/favorites" method="post">

<select name="rest[restaurant_id]">
<% @restaurants.each do |restaurant| %>
<% if !@user.restaurants.include?(restaurant) %>
 <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
<% end %>
<% end %>
</select>
<input type="submit" value="submit">
<input type="hidden" value="<%=@user.id%>" name="user_id">
<input type="hidden" id="hidden" value="true" name="been_there">
<input type="hidden" id="hidden" value="<%=@user.id%>" name="rest[user_id]">
</form>

<p>Subtract From Favorite Restaurants: </p>

<form action="/users/unfavorites" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<select name="restaurant_id">
<% @user.restaurants.each do |restaurant| %>
 <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
 <% end %>
</select>
<input type="submit" value="submit">
<input type="hidden" value="<%=@user.id%>" name="user_id">

</form>

<!-- 
<form action="/users/unfavorite" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">



</form> -->



<p><a href="/users/<%=@user.id%>/edit">Edit User</a></p>
