<a href="/restaurants/new">Add A Restaurant</a>
<a href="/users/new">Add A User</a>
<a href="/restaurants">See All Restaurants</a>
<a href="/users">See All Users</a>
<br></br>
<h3>Name: <%= @user.name %></h3>

Restaurants:
<ul><% @user.restaurants.each do |rest| %>
<li><a href="/restaurants/<%=rest.id%>"><%= rest.name %></a></li>
 <form action="/users/no_try" method="post">
 <input type="hidden" value="<%=@user.id%>" name="user_id">
 <input type="hidden" value="<%=rest.id%>" name="restaurant_id">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
  </form></li>

<% end %></ul>


  <form action="/users/<%=@user.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
  </form>

<a href="/users/<%=@user.id%>/edit">Edit Me</a>
