<style>
/*a < .wrapper */
/* {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
    }
*/
/*.favorites {
  margin-top: 13%;
  clear:both;
  position:relative;
}*/
    .rester {
      float: left;
      overflow: hidden;
    }
    </style>

<h2><%= @user.name %></h2>
<div class="dropdown favorites">
<h3><p>Add To Favorite Restaurants: </p></h3>

<form action="/users/favorites" method="post">

<select name="rest[restaurant_id]">
<option selected disabled>--Choose Restaurant--</option>
<% @restaurants.each do |restaurant| %>
<% if !@user.restaurants.include?(restaurant) %>
 <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
<% end %>
<% end %>
</select>
<input type="submit" value="submit">
<input type="hidden" value="<%=@user.id%>" name="user_id">
<input type="hidden" id="hidden" value="true" name="been_there">
<input type="hidden" id="hidden" value="<%=@user.id%>" name="rest[user_id]">
</form>

<h3><p>Subtract From Favorite Restaurants: </p></h3>

<form action="/users/unfavorites" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">

<select name="restaurant_id">
<option selected disabled>--Choose Restaurant--</option>

<% @user.restaurants.each do |restaurant| %>
 <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
 <% end %>
</select>
<input type="submit" value="submit">
<input type="hidden" value="<%=@user.id%>" name="user_id">

</form>
</div>
<h3><p>I've Tried: </p></h3>

<% @sortable.each do |try| %>
<% if try.been_there == true %>
<a href="/restaurants/<%=try.restaurant.id%>"><%= try.restaurant.name %></a>
<% end %>
<% end %>

<h3><p>Favorite Restaurants:</p></h3>
<% @faveable.each do |restaurant| %>
<a class="nolist" href="/restaurants/<%=restaurant.id%>"><%= restaurant.name %></a>
  </form>

<% end %>
<h3><div class="nolist"><p>My Favorites' Categories: </p></h3>
<% @categories.each do |cat| %>
<a href="/categories/<%=cat.id%>"><%= cat.name %></a><%end%>
</div>

<h3><div class="wrapper"><p>Restaurants To Try: </p></h3>
<% @tryable.each do |try| %>
<div class="rester"><a class="nolist" href="/restaurants/<%=try.restaurant.id%>"><%= try.restaurant.name %></a>
  <form class="nolist" action="/users/restaurants" method="post">
  <input type="hidden" value="<%=@user.id%>" name="rest[user_id]">
  <input type="hidden" value="<%=try.restaurant.id%>" name="rest[restaurant_id]">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="I don't wanna go anymore">
  </form>
 <form class="nolist" action="/users/beenthere" method="post">
  <input type="hidden" value="<%=@user.id%>" name="rest[user_id]">
  <input type="hidden" value="<%=try.restaurant.id%>" name="rest[restaurant_id]">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input id="hidden" type="hidden" name="also[been_there]" value="true">
  <input type="submit" value="I tried it!">
</form></div>
<% end %>
</div>
<!-- 
<form action="/users/unfavorite" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">



</form> -->
  <br></br>
  <br></br>
  <br></br>
<p><a href="/users/<%=@user.id%>/edit">Edit User</a></p>
