<style>
a < .yelp {
  float:left;
  display: inline;
  margin-right:77%;"
}
</style>

<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<div class="yelp"><% if @restaurant.url %><a href="<%= @restaurant.url %>">View On Yelp!</a><% end%>
<% if @restaurant.deals %><a href="<%= @restaurant.deals_url %>"> Yelp Deal: <%= @restaurant.deals_title %></a><%end%></div>
<p>Rating: <%= @restaurant.rating %></p>
<div class="yelp"><p>Categories: </p>
<% @restaurant.categories.each do |cat| %>
<a href="/categories/<%=cat.id%>"><%= cat.name %></a><%end%>
</div>
<p>Users who favorited here:</p>

<% @lovers.each do |fave| %>
<a href="/users/<%=fave.user.id%>"><%= fave.user.name %></a>
<% end %>
</ul>

<p>Users who want to visit here:</p>

<ul><% @goers.each do |user_rest| %>
  <% if user_rest.been_there == false %>
  <li><a href="/users/<%=user_rest.user.id%>"><%= user_rest.user.name %></a></li>
  <% end %>
  <% end %>
</ul>

<p>Users who have been here:</p>

<ul><% @goers.each do |user_rest| %>
  <% if user_rest.been_there == true %>
<li><a href="/users/<%=user_rest.user.id%>"><%= user_rest.user.name %></a></li>
  <% end %>
<% end %></ul>

<strong>User wants to visit here?</strong>

<form action="/restaurants/users/try" method="post">

<select name="user_id">
<% @users.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<strong>User has been here?</strong>

<form action="/restaurants/users/tried" method="post">

<select name="user_id">
<% @users.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<p><a href="/restaurants/<%=@restaurant.id%>/edit">Edit Restaurant</a></p>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?&key=AIzaSyAiV00GdVCNqe9FzxKXyZ4ljw3jV2hHvWA&q=<%=@restaurant.address%>" allowfullscreen></iframe>

