<style>

</style>

<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<div class="nolist"><% if @restaurant.url %><a href="<%= @restaurant.url %>">View On Yelp!</a><% end%>
<% if @restaurant.deals %><a href="<%= @restaurant.deals_url %>"> Yelp Deal: <%= @restaurant.deals_title %></a><%end%></div>
<p>Rating: <%= @restaurant.rating %></p>
<div class="nolist"><p>Categories: </p>
<% @restaurant.categories.each do |cat| %>
<a href="/categories/<%=cat.id%>"><%= cat.name %></a><%end%>
</div>
<p>Users who favorited here:</p>

<% @lovers.each do |fave| %>
<a href="/users/<%=fave.user.id%>"><%= fave.user.name %></a>
<% end %>
</ul>

<p>Users who want to try here:</p>

<% @goers.each do |user_rest| %>
  <% if user_rest.been_there == false %>
<a href="/users/<%=user_rest.user.id%>" class="nolist"><%= user_rest.user.name %></a>
  <% end %>
  <% end %>


<p>Users who have been here:</p>

<% @goers.each do |user_rest| %>
  <% if user_rest.been_there == true %>
<a href="/users/<%=user_rest.user.id%>" class="nolist"><%= user_rest.user.name %></a>
  <% end %>
<% end %>

<p><strong>User wants to try here?</strong></p>

<form action="/restaurants/users/try" method="post">

<select name="user_id"> 
<option selected disabled>--Choose User--</option>
<% @new_triers.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<p><strong>User has been here?</strong></p>

<form action="/restaurants/users/tried" method="post">

<select name="user_id">
<option selected disabled>--Choose User--</option>
<% @new_visitors.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>

<p>Add here to a users' favorites?</p>
<form action="/restaurants/favorites" method="post">

<select name="rest[user_id]">
<option selected disabled>--Choose User--</option>
<% @no_fave.each do |user| %>
    <option value="<%= user.id %>"><%= user.name %></option>
  <% end %>
  </select>

<input type="submit" value="submit">
<input type="hidden" id="hidden" value="true" name="been_there">
<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="rest[restaurant_id]">
</form>


<p><a href="/restaurants/<%=@restaurant.id%>/edit">Edit Restaurant</a></p>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?&key=AIzaSyAiV00GdVCNqe9FzxKXyZ4ljw3jV2hHvWA&q=<%=@restaurant.address%>" allowfullscreen></iframe>

