<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>

<p>Rating: <%= @restaurant.rating %></p>
<p><a href="<%= @restaurant.url %>">View On Yelp</a></p>
<p>Categories: </p>
<ul><% @restaurant.categories.each do |cat| %>
<li><a href="/categories/<%=cat.id%>"><%= cat.name %></a></li><%end%></ul>
<p>Deals? <% if !@restaurant.deals %>
None, sorry!
<% else %>
<a href="<%= @restaurant.deals_url %>"><%= @restaurant.deals_title %></a></p><%end%>
<p>Users who favorited here:</p>

<ul><% @lovers.each do |fave| %>
<li><a href="/users/<%=fave.user.id%>"><%= fave.user.name %></a></li>
<% end %>
</ul>

<p>Users who want to visit here:</p>

<ul><% @goers.each do |user_rest| %>
  <% if user_rest.been_there == false %>
  <li><a href="/users/<%=user_rest.user.id%>"><%= user_rest.user.name %></a></li>
  <% end %>
  <% end %>
</ul>

<p>Users who have been here:</p>

<ul><% @goers.each do |user_rest| %>
  <% if user_rest.been_there == true %>
<li><a href="/users/<%=user_rest.user.id%>"><%= user_rest.user.name %></a></li>
  <% end %>
<% end %></ul>

<strong>User wants to visit here?</strong>

<form action="/restaurants/users/try" method="post">

<select name="user_id">
<% @users.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<strong>User has been here?</strong>

<form action="/restaurants/users/tried" method="post">

<select name="user_id">
<% @users.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<p><a href="/restaurants/<%=@restaurant.id%>/edit">Edit Me</a></p>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?&key=AIzaSyAiV00GdVCNqe9FzxKXyZ4ljw3jV2hHvWA&q=<%=@restaurant.address%>" allowfullscreen></iframe>

