<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?&key=AIzaSyAiV00GdVCNqe9FzxKXyZ4ljw3jV2hHvWA&q=<%=@restaurant.address%>" allowfullscreen></iframe>

<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= @restaurant.rating %></p>
<p><a href="<%= @restaurant.url %>">View On Yelp</a></p>
<p>Categories: </p>
<ul><% @restaurant.categories.uniq.each do |cat| %>
<p><li><a href="/categories/<%=cat.id%>"><%= cat.name %></a></li></p><%end%></ul>
<p>Deals? <% if !@restaurant.deals %>
None, sorry!
<% else %>
<a href="<%= @restaurant.deals_url %>"><%= @restaurant.deals_title %></a></p><%end%>
<p>People who love this restaurant:</p>

<ul><% @restaurant.user_favorites.each do |fave| %>
<p><li><a href="/users/<%=fave.user.id%>"><%= fave.user.name %></a></li></p>
<% end %>
</ul>

<p>People who want to try:</p>

<ul><% @restaurant.user_restaurants.each do |user_rest| %>
  <% if user_rest.been_there == false %>
  <p><li><a href="/users/<%=user_rest.user.id%>"><%= user_rest.user.name %></a></li></p>
  <% end %>
  <% end %>
</ul>

<p>People who have tried us:</p>

<ul><% @restaurant.user_restaurants.each do |user_rest| %>
  <% if user_rest.been_there == true %>
<p><li><a href="/users/<%=user_rest.user.id%>"><%= user_rest.user.name %></a></li></p>
  <% end %>
<% end %></ul>
<br></br>

<strong>Add To List of Restaurants To Try</strong>

<form action="/restaurants/users" method="post">

<select name="user_id">
<% @users.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<p>  <form action="/restaurants/<%=@restaurant.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete entire restauarant">
  </form>
</p>
<p><a href="/restaurants/<%=@restaurant.id%>/edit">Edit Me</a></p>
