<a href="/restaurants/new">Add A Restaurant</a>
<a href="/users/new">Add A User</a>
<a href="/restaurants">See All Restaurants</a>
<a href="/users">See All Users</a>

<p>Name: <%= @restaurant.name %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= @restaurant.rating %></p>
<p><a href="<%= @restaurant.url %>">View On Yelp</a></p>
<p>Categories: <ul><% @restaurant.categories.uniq.each do |cat| %><li><%= cat.name %></li><%end%></ul></p>
<p>Deals? <% if !@restaurant.deals %>
None, sorry!
<% else %>
<a href="<%= @restaurant.deals_url %>"><%= @restaurant.deals_title %></a></p><%end%>
<p>People who love this restaurant:</p>

<ul><% @restaurant.user_favorites.each do |fave| %>
<li><a href="/users/<%=fave.user.id%>"><%= fave.user.name %></a></li>
<% end %>
</ul>

People who want to try:

<ul><% @restaurant.users.each do |user| %>
<li><a href="/users/<%=user.id%>"><%= user.name %></a></li>
<% end %>
</ul>
<br></br>
<strong>Add To List of Restaurants To Try</strong>

<form action="/restaurants/users" method="post">

<select name="user_id">
<% @users.each do |user| %>
 <option value="<%= user.id %>"><%= user.name %></option>
 <% end %>
</select>

<input  type="hidden" id="hidden" value="<%=@restaurant.id%>" name="restaurant_id">

<input type="submit" value="submit">

</form>


<p>  <form action="/restaurants/<%=@restaurant.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete entire restauarant">
  </form>
</p>
<p><a href="/restaurants/<%=@restaurant.id%>/edit">Edit Me</a></p>
