<h2><p><%= @category.name %></p></h2>

<h3><p>Restaurants:</p></h3>
  <% @rest.each do |restaurant| %>
    <a class="nolist" href="/restaurants/<%=restaurant.id%>">
    <%=restaurant.name%></a>
  <%end%>

<h3><p>Users Who Enjoy:</p></h3>
  <% @users.each do |user| %>
    <a class="nolist" href="/users/<%=user.id%>">
    <%=user.name%></a>
  <% end %>

<p><a href="/categories/<%=@category.id%>/edit">Edit Category</a></p>
